header{
    height: 60px;
    background-color: rgb(177, 112, 14);
}

.image{
    height: 300px;
    width: 400px;
}

.text-end{
    background-color: rgb(255, 200, 0);
}

footer{
    height: 300px;
    background-color: purple;
    color: #fff;
}

.footer-link{
    color: #fff;
}