@import "fonts.css";
@import "reset.css";
@import "global.css";

.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
    ;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background-color: var(--accent-color);
    border-radius: 50%;

    opacity: 0;
    transition: var(--transition) linear;
}

.nav__link:hover::before {
    opacity: 1;
}

.header__hero {
    padding: 50px 0 140px;
}

/* ===================================== */

.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    color: #b197b2;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background-color: #b197b2;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: inline-block;
    margin: 0 10px;
}

.hero__info span:last-child:after {
    content: none;
}

.hero__title {
    margin-bottom: 30px;
}

.hero_text {
    margin-bottom: 40px;
    max-width: 360px;
}

.hero__button {
    max-width: 360px;
    width: 100%;
}

.hero__img {
    margin-right: 247px;
    position: relative;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    bottom: 11%;
    left: calc(100% - 39px);
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #ffe0cb;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    position: relative;
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    inset: 5px;

    opacity: 0;
    transition: var(--transition) linear;
}

.hero__img-button:hover::before {
    opacity: 1;
}

/* ============================================================= */

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
}

.about__img {
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    grid-row: 1/-1;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.about__img-control {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    bottom: 4.7%;
    left: 5%;
    text-align: left;
    background: #957b97e6;
    border-radius: var(--border-radius);
    padding: 15px 20px;
    color: var(--general-bg);
}

.about__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: var(--general-bg);
    position: relative;
}

.about__img-button::before {
    content: '';
    position: absolute;
    border: 1px solid var(--accent-text-2);
    border-radius: 50%;
    inset: 5px;

    opacity: 0;
    transition: var(--transition) linear;
}

.about__img-button:hover::before {
    opacity: 1;
}

.about__heading {
    margin-bottom: 30px;
}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    border-radius: var(--border-radius);
    background-color: var(--accent-bg);
    padding: 29px 24px;
}

.about__grid-img {
    border-radius: 50%;
    border: 1px solid var(--general-text);
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ================================================= */



.program__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 30px 15px;
}

.program__title {
    margin-bottom: 20px;

}

.program__tab-content {
    margin-bottom: 40px;
}

.tab-controls {
    display: flex;
    gap: 26px;

}

.tab-controls__link {
    display: block;
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
    white-space: nowrap;

    transition: var(--transition);
}

.tab-controls__link:hover {
    background: var(--accent-bg);
}

.tab-controls__link--active {
    background: var(--accent-bg);
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: block;
}


.accordion-list__item {
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    margin-bottom: 30px;
}

.accordion-list__item:last-child {
    margin-bottom: 0px;
}

.accordion-list__control {
    padding: 40px 30px;
    width: 100%;
    background: transparent;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    font-family: "Gabriola", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 0.9;
    color: var(--accent-text);

    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__control-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1.50px solid var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    transition: var(--transition);
}

.accordion-list__control-icon svg {
    margin-left: 2px;
}

.accordion-list__control-icon path {
    transition: var(--transition);
}

.accordion-list__control:hover path {
    fill: #fff;
}

.accordion-list__control:hover .accordion-list__control-icon {
    background-color: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__item--opened path {
    fill: #fff;
}

.accordion-list__item--opened .accordion-list__control-icon {
    background-color: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}


.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__title {
    text-transform: uppercase;
    color: var(--accent-text-2);
    line-height: 1.6;
    margin-bottom: 20px;

}

.accordion-content__item {
    display: flex;
    margin-bottom: 20px;
}

.accordion-content__item:last-child {
    margin-bottom: 0px;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid var(--accent-text-2);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordion-conten__text {
    max-width: 274px;
    width: 100%;
}

.program__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.program__action {
    display: grid;
    grid-template: repeat(3, auto) / 1.65fr 1fr;
    gap: 40px;
    max-width: 500px;
    flex-shrink: 0;
    width: 100%;
}

.program__discount {
    grid-row: 1 / 3;
    background-color: var(--accent-bg);
    border-radius: var(--border-radius);
    font-size: 20px;
    padding: 40px;

    span {
        font-size: 16px;
        margin-left: 35%;
    }
}

.program__discount-value {
    display: block;
    font-family: "Gabriola", sans-serif;
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-color);
    margin-left: 13%;
    margin-bottom: 7px;
    transform-origin: 0 0;

    animation: discount-grow .8s linear infinite alternate;
}

@keyframes discount-grow {
    0% {
        transform: scale(1);

        color: var(--accent-color);
    }

    100% {
        transform: translateX(4%) scale(1.1);
        color: #ff9138;
    }
}

.program__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--accent-text-2);
    margin-bottom: 5px;
}

.program__price-value {
    font-family: "Gabriola", sans-serif;
    font-size: 32px;
    line-height: 0.9;
}

.program__price-value--big {
    font-size: 50px;
    color: var(--accent-text);
}

.program__button {
    grid-column: 1 / -1;
}

.program__img {
    img {
        width: 100%;
    }
}

/* ========================================================== */



.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img {
    justify-self: center;
    align-self: center;

    img {
        max-width: 100%;
    }
}

.gallery__content {
    display: flex;
    justify-content: space-between;
    gap: 30px 15px;
    align-items: end;
}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    margin-bottom: 40px;
}

.gallery__nav {
    display: flex;
    align-items: center;
    gap: 98px;
    position: relative;
}

.gallery__prev,
.gallery__next {
    background: transparent;
    cursor: pointer;
    border: 1.50px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}

.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border: 1.50px solid #e1d9e1;
    cursor: auto;
}

.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: #e1d9e1;
}

.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
    background: transparent;
}

.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
    fill: #e1d9e1;
}

.gallery__prev path,
.gallery__next path {
    transition: var(--transition);
}

.gallery__prev:hover,
.gallery__next:hover {
    background-color: var(--accent-color);
}

.gallery__prev:hover path,
.gallery__next:hover path {
    fill: #fff;
}

.gallery__pagination {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    width: auto;
    transform: translate(-50%, -50%);
    font-family: "Gabriola", sans-serif;
    font-size: 42px;
    line-height: 0.9;
}

.gallery__slide img {
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 100%;
}

/* =================== ==================*/

.testimonials__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 30px;
}

.testimonials__info {
    max-width: 632px;
}

.testimonials__title {
    margin-bottom: 20px;
}

.testimonials__nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.testimonials__prev,
.testimonials__next {
    background: transparent;
    cursor: pointer;
    border: 1.50px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}

.swiper-button-disabled.testimonials__prev,
.swiper-button-disabled.testimonials__next {
    border: 1.50px solid #e1d9e1;
    cursor: auto;
}

.swiper-button-disabled.testimonials__prev path,
.swiper-button-disabled.testimonials__next path {
    fill: #e1d9e1;
}

.swiper-button-disabled.testimonials__prev:hover,
.swiper-button-disabled.testimonials__next:hover {
    background: transparent;
}

.swiper-button-disabled.testimonials__prev:hover path,
.swiper-button-disabled.testimonials__next:hover path {
    fill: #e1d9e1;
}

.testimonials__prev path,
.testimonials__next path {
    transition: var(--transition);
}

.testimonials__prev:hover,
.testimonials__next:hover {
    background-color: var(--accent-color);
}

.testimonials__prev:hover path,
.testimonials__next:hover path {
    fill: #fff;
}

.testimonials__slider {
    overflow: visible;
}

.testimonials__wrapper {
    margin-bottom: 59px;
}

.testimonials__slide {
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    padding: 30px 30px 40px;
    display: flex;
    gap: 30px;
    transition: var(--transition);
    opacity: 0.5;
    height: auto;
}

.testimonials__slide.swiper-slide {
    transform: scale(.9);
}

.swiper-slide-active.testimonials__slide {
    transform: scale(1);
    opacity: 1;
}

.testimonials__student {
    max-width: 165px;
    flex-shrink: 0;
    text-align: center;
}

.testimonials__student-img {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: var(--border-radius);

    img {
        width: 100%;

    }
}

.testimonials__student-name {
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 1.6;
    color: var(--accent-text);
}

.testimonials__student-inst {
    margin: 0 auto;
    color: var(--accent-text-2);
}

.testimonials__quote {

    span {
        font-family: "Gabriola", sans-serif;
        font-size: 32px;
        line-height: 0.9;
        margin-bottom: 10px;
        display: block;
        color: var(--accent-text);
    }
}

.testimonials__scrollbar .swiper-scrollbar-drag {
    background-color: var(--accent-color);
}

.testimonials__scrollbar.swiper-scrollbar {
    position: static;
    width: 100%;
    background: #ffe0cb;
    height: 7px;
}

/* =================================== */

.contact {
    padding: 140px 0;
    background: url("../img/decor/bg-footer.png") 50% 0% / cover no-repeat;
}

.contact__inner {
    display: flex;
    align-items: end;
    gap: 84px;
    position: relative;
}

.contact__img {
    img {
        width: 100%;
        filter: drop-shadow(0 4px 30px rgba(198, 176, 161, 0.3));
    }
}
.contact__inner::before{
    content: url("../img/decor/berries.png");
    position: absolute;
    top: -4%;
    left: 0%;
}
.contact__inner::after{
    content: url("../img/decor/berries-2.png");
    position: absolute;
    top: 4%;
    right: 0%;
}
.contact__body {
    max-width: 420px;
}

.contact__title {
    margin-bottom: 20px;
}

.contact__text {
    margin-bottom: 40px;
}

.contact__label {
    margin-bottom: 10px;
}

.contact__input {
    display: block;
    width: 100%;
    background: transparent;
    border: 1px solid var(--input-color);
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;

    transition: var(--transition);
}

.contact__input:hover {
    border-color: var(--accent-color);
}

.contact__input::placeholder {
    color: var(--input-color);
    transition: var(--transition);
}

.contact__input:hover::placeholder {
    color: var(--accent-color);
}

.contact__check-label {
    display: flex;
    align-items: start;
    gap: 5px;
    max-width: 288px;
    margin-bottom: 20px;
    font-size: 13px;

    a {
        text-decoration: underline;
        transition: var(--transition);
    }
}

.contact__check-label:hover a {
    color: var(--accent-color);
}

.contact__checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid var(--input-color);
    border-radius: 4px;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    transition: var(--transition);
}
.contact__checkbox::before{
    content: '';
    position: absolute;
    inset: 0;
    background: url("../img/icons/check.svg") 50% 50% no-repeat;
    opacity: 0;
    transition: var(--transition);
}
.contact__checkbox:hover {
    border: 2px solid var(--accent-color);
}
.contact__checkbox:checked {
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
}
.contact__checkbox:checked::before {
    opacity: 1;
}



/* ================================================== */

.footer {
    background: #ab8261;
    color: var(--general-bg);
    padding: 60px 0 66px;
}

.footer__inner {
    display: grid;
    gap: 40px 15px;
    justify-content: space-between;
    grid-template-columns: .9fr .9fr 1.1fr auto;
}

.footer__col:first-child {
    margin-top: -30px;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    margin-bottom: 20px;
}

.socials {
    line-height: 0;
}

.socials__list {
    display: flex;
    gap: 15px;
}

.social__link path {
    transition: var(--transition);
}

.social__link:hover path {
    fill: var(--accent-color);
}

.footer__col-list {
    margin-top: -5px;
}

.footer__col-item {
    margin-bottom: 10px;
}

.footer__col-item:last-child {
    margin-bottom: 0px;
}

.footer__col-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__col-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background-color: var(--accent-color);
    border-radius: 50%;

    opacity: 0;
    transition: var(--transition) linear;
}

.footer__col-link:hover::before {
    opacity: 1;
}

.footer__contact-item {
    margin-bottom: 10px;
}

.footer__contact-item:last-child {
    margin-bottom: 0px;
}

.footer__col-tel {
    margin-bottom: 47px;
}

.footer__col-number {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;

    transition: var(--transition);
}

.footer__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    color: #dec5b1;
}

/* ======================================================= */
/* ======================================================= */
/* ======================================================= */

@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    /* ==================== */

    .tab-controls {
        display: grid;
        grid-template: repeat(2, auto) / 1fr 1fr;
    }

    /* ========================= */

    .contact__inner::after{
        top: -20%;
    }

    /* ==================== */

    .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .about__img {
        grid-row: auto;
    }

    .about__grid {
        grid-column: 1/-1;
    }

    .about__body {
        align-self: center;
    }

    /* ================== */

    .accordion-list__control {
        font-size: 35px;
        padding: 25px 30px;
    }

    .accordion-content {
        gap: 30px;
    }

    /* =================== */

    .contact__inner{
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition) linear;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;

    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* ==================== */

    .program__img {
        display: none;
    }

    .program__action {
        max-width: none;
        grid-template: repeat(3, auto)/ repeat(2, 1fr);
    }

    /* ==================== */

    .gallery__img {
        display: none;
    }

    .gallery__inner {
        grid-template: none;
    }

    .gallery__info {
        max-width: none;
    }





    /* ==================== */

    .testimonials__scrollbar.swiper-scrollbar {
        width: 50%;
        margin: 0 auto;
    }

    /* ==================== */

    .contact__img{
        display: none;
    }
    .contact__inner{
        justify-content: center;
    }
    /* ==================== */

    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: none;
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    /* ======================= */

    .program__top {
        flex-direction: column;
        align-items: stretch;
    }

    .tab-controls {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .tab-controls__link {
        padding: 6px 15px;
    }

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content__col:first-child {
        max-width: none;
    }

    .accordion-conten__text {
        max-width: none;
    }

    /* ============================ */

    .testimonials__inner {
        align-items: stretch;
        flex-direction: column;
    }

    .testimonials__nav {
        align-self: end;
    }

    /* ======================= */
    .about__inner {
        grid-template: none;

    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__body {
        text-align: center;
    }

    .about__grid {
        grid-template: none;
    }

    /* ================ */

    .contact__inner::before{
        display: none;
    }
}

@media (max-width: 600px) {

    .main__about {
        padding: 60px 0 80px;
    }

    .main__program,
    .main__gallery {
        padding: 0 0 80px;
    }

    .title {
        font-size: 12vw;
    }

    /* ============================ */

    .header__hero {
        padding-bottom: 80px;
    }

    /* ======================= */

    .program__title {
        text-align: center;
    }

    .program__top {
        text-align: center;
        margin-bottom: 20px;
    }

    .tab-controls {
        justify-content: center;
    }

    .accordion-list__control {
        padding: 17px 30px;
        font-size: 28px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px;

        svg {
            width: 10px;
        }
    }

    .accordion-list__item {
        margin-bottom: 10px;
    }

    .program__action {
        grid-template: repeat(3, auto) / auto auto;
        gap: 15px;
    }

    .program__discount {
        grid-row: auto;
        grid-column: 1 / -1;
        justify-self: center;
    }

    /* ======================= */

    .about__img-control {
        bottom: 0;
        right: 0;
        left: 0;
        padding: 10px 15px;
        border-radius: 0;
        max-width: none;
    }

    .about__grid {
        gap: 15px;
    }

    .about__grid-item {
        padding: 10px 15px;
    }

    /* ==================== */

    .gallery__content {
        flex-direction: column;
    }

    .gallery__inner {
        margin-bottom: 20px;
    }

    /* ===================== */

    .testimonials__inner {
        margin-bottom: 20px;
    }

    .testimonials__slide {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    /* ====================== */
    .contact{
        padding-bottom: 80px;
    }
    .contact__title,
    .contact__text{
        text-align: center;
    }
}

@media (max-width: 450px) {
    .modal__img {
        max-width: 50%;
        margin: -45px 0 15px 13px;
    }

    .modal__title {
        font-size: 36px;
    }

    .modal__window {
        padding: 0 15px 30px;
    }

    /* ======================== */

    .accordion-list__control {
        padding: 17px 15px;
    }

    .accordion-content__item {
        margin-bottom: 10px;
    }

    .program__action {
        grid-template: none;
    }

    .program__price {
        text-align: center;
    }

    /* =================== */

    .testimonials__slide {
        padding: 30px 10px;
    }
}